.navbar{
   background-color: transparent;
   position: relative;

}

.ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

li,
a{
    font-size: 2rem;
    color: whitesmoke;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.3px;
}

li:hover{
    text-decoration: underline;
    transform: scale(1.2);
    text-shadow: 0px 2px 3px rgb(255, 134, 28);
}

.App-logo {
    pointer-events: none;
    width: 10%;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media only screen and (max-width: 500px) {
    li{
      font-size: 1rem;
    }
  }